@charset "UTF-8";

html, body {
    height: 100%;
    line-height: 1.5;
    font-size: 16px;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    background-color: #fff;
    vertical-align: middle;
    font-family: Roboto, 'Seguo UI', 'Lucida Sans', Verdana, sans-serif;
}

a {
  background-color: transparent;
}

h1 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px #777;
}

main {
  padding: .25rem;
  background: radial-gradient(circle, #4488bb, #fff);
  color: #222;
  overflow: auto;
}